<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Datum</th>
        <th>Tijd</th>
        <th>Docent</th>
        <th>Vak</th>
        <th>Klas</th>
    </thead>
    <tbody>
        <tr *ngFor="let ToetsDto of toetsen">
            <td>{{ToetsDto.id}}</td>
            <td>{{ToetsDto.datum}}</td>
            <td>{{ToetsDto.tijd}}</td>
            <td>{{ToetsDto.docent}}</td>
            <td>{{ToetsDto.vak}}</td>
            <td>{{ToetsDto.klas}}</td>
        </tr>
    </tbody>
</table>