<table class="table table-striped">
    <thead>
        <tr>
            <th>Klasnummer</th>
            <th>Naam</th>
            <th>Niveau</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let klasDto of klassen">
            <td>{{klasDto.id}}</td>
            <td>{{klasDto.naam}}</td>
            <td>{{klasDto.niveau}}</td>
            <td>
                <button class="btn btn-primary" type="button" (click)="bekijkLeerlingen(klasDto)">Leerlingen</button>
            </td>
            <td>
                <button class="btn btn-primary" type="button" (click)="bekijkVakken(klasDto)">Vakken</button>
            </td>
            <td>
                <button class="btn btn-primary" type="button" (click)="bekijkToetsen(klasDto)">Toetsen</button>
            </td>
        </tr>
    </tbody>
</table>