  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color:brown;
    color: rgb(219, 108, 108);
    font-weight: 600;
  }

  .image{ 
    height: 100;
  }
  .homebutton{ 
   max-height: 20px;
   max-width: 20px;
  }